.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

.emphathy-logo {
  width: 400px;
}

.App-header_logos {
  margin-bottom: 2%;
}

.app-tabs-panel {
  height: 200px;
}

.app-tabs-panel .tabs-component_content {
  height: 100%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-body {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.app-content {
  display: flex;
  width: 45%;
  height: 100%;
  justify-content: center;
  align-content: center;
}

.App-link {
  color: #61dafb;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 25px;
  padding: 5px;
  background-color: #59a8c1;
  color: #282c34;
  font-size: 15px;
}

footer > a {
  color: #fff;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
